
.container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.header, .footer {
  background-color: red;
  color: white;
  padding: 20px 0;
}

.body {
  padding: 20px;
  
}

img {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  border-radius: 8px;
}
